.App {
  text-align: center;
  padding:5% 10%;
  background-color: #fafafa;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.titleDesc{ color: #3C4858; font-size: 26px;font-weight:700;}
/*  Inputs */
.textInput {width:50% !important;margin: 50px 0;}
.MuiFormControl-root{margin: 20px 0 !important;}
/* .required label:after {
  content: "*";
  color: #b70b46;
  padding: 0 0 0 .5rem;
  font-size: 1.3rem;
} */
textarea{min-height:80px}
textarea::placeholder{font-size: 14px;color: #d2d2d2;}
.App label{ color: #000 !important;}
/* .MuiOutlinedInput-notchedOutline{border-color:#9acffa !important} */
.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.87);
}
.MuiOutlinedInput-colorSecondary.Mui-focused .MuiOutlinedInput-notchedOutline {border: 2px solid #9acffa !important;}

.MuiInput-underline:after{border-bottom: 2px solid #9acffa !important;}
/* .description label{top:-20px} */
p.dateTitle{text-align:left;margin-left:25%;margin-bottom: 0;}


.dateContainer{display: flex;flex-direction: row;justify-content: space-between;width:50%;margin-left:25%;}
.dateContainer .MuiFormControl-root {margin: 0 !important;}
.dateContainer .MuiFormControl-root:first-child {margin-left:80px !important;}
.dateContainer .MuiInputLabel-formControl{left: -80px; font-size: 20px; top: 22px;}
.dateContainer .Mui-focused.MuiInputLabel-shrink {    transform-origin: left left !important;}
/* end inputs */
.App .actionButton{display: flex;flex-direction: row;justify-content: space-between;}
.continueBtn{color:'#fff';  border-color:'#2196F3'; background-color:'#2196F3';}
.backBtn{ color:'#0275D8';  border-color:'#03A9F4'; background-color:'#fff';}

.tabContaner{flex-grow: 1;  width: '100%',}
.bg-apply {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; 
  background-color: #fff;
  width:'80%';
  height:300px;
  max-height:300px;
  min-height:300px;
  margin-bottom: 20px;
  }
  .bg-apply-service{background: url("./components/images/service.JPG") no-repeat top center; }
  .bg-apply-location{background: url("./components/images/location.JPG") no-repeat top center;}
  .bg-apply-contact{background: url("./components/images/contact.JPG") no-repeat top center; }
  .bg-apply-summary{background: url("./components/images/summary.JPG") no-repeat top center;background-color:#fff;padding:0;}
  /* preview */
.summaryListContainer{background-color:#fff;text-align: left;padding: 20px 10px !important;}
.summaryListContainer div span div,.summaryListContainer div span div > *  {padding: 3px 8px!important;}
.summaryListContainer div span:first-child{   font-size:20px;font-weight:600;margin:10px 15px;}
.summaryListContainer div span:last-child{   font-size:16px;font-weight:300;margin:0 15px 10px;}
/* success page */
  .successMessage{
    background-color: #fafafa;height:100vh;justify-content: center;margin:-5% -10%;padding:5% 10%;
  }
  .successMessage .successMessageContainer{background-color: #fff;justify-content: center;padding:5% 10%}
  .bg-apply-success{
    background: url("./components/images/icon.jpg") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; 
    background-color: #fff;
    width:45px; 
    height:45px;
    margin-bottom: 20px;
    margin-left: calc( 50% - 22px );
  }
  .successMessage h1{font-size: 24px;color:#000000;font-weight:500;margin-top:10%;margin-bottom:40px }
  .successMessage p{font-size: 14px;color:#9e9e9e;}
  .successMessage h3{font-size: 16px;color:#000000;font-weight:400; }
  .successMessage .actionButton {justify-content: center;margin:0 15px;}